<div class="container mt-5">
    <h1>{{heading}}</h1>
    <p class="lead">{{description}}</p>
    
    <h1>{{heading2}}</h1>
    <p class="lead">{{description2}}</p>
    
    <h1>Agradecimentos</h1>
    <p class="lead">Ao <a href="https://instagram.com/labfauna/">Laboratório de Manejo de Faunas ICB/UFAM (LabFauna)</a>.</p>
    <p class="lead">Ao <a href="https://icomp.ufam.edu.br/">Insituto de Computação Icomp/UFAM</a>.</p>
</div>