.idea/
.gradle/
.kotlin/
build/
local.properties
server/node_modules
server/.env.development
server/.env.production
server/.env.JWT_SECRET
server/logs/
server/.wwebjs_auth/
server/.wwebjs_cache/
.env.development
.env.production
.env
!.env.example
server/scripts/