# usuario do banco de dados
BD_USER=bichohub

# host do banco de dados
BD_HOST=localhost

# senha do banco de dados
BD_PASSWORD=bichohubsql

# porta do banco de dados
BD_PORT=6767

# database banco de dados
BD_DATABASE=bichohubs