NODE_ENV=production

# usuario do banco de dados
BD_USER=sim

# host do banco de dados
BD_HOST=sim

# senha do banco de dados
BD_PASSWORD=sim

# porta do banco de dados
BD_PORT=6767

# database banco de dados
BD_DATABASE=sim

# porta da aplicacao
PORT=6969

# caminho do arquivo de logs (por enquanto um arquivo geral) [bom verificar se querem aumentar a quantidade de arquivos para logs]
DIR_LOG=logs

# modo do logs (complete ou simple)
FORMAT_LOG=complete