:root {
  --bs-dark-rgb: 199, 230, 179;
  --bs-info-rgb: 73, 89, 62;
}

.btn-dark, .btn-primary {
  --bs-btn-bg: #548E2E;
  --bs-btn-border-color: #548E2E;
  --bs-btn-hover-bg: #3A6B26;
  --bs-btn-hover-border-color: #3A6B26;
}

.bg-primary {
  --bs-primary-rgb: 84, 142, 46;
}

.nav-link {
  font-size: 18px;
}

.google-signin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .g_id_signin {
        display: inline-block !important;
    }
}

#map {
    height: 600px;
    width: 100%;
    border-radius: 8px;
}
